<div id="footer">
    <div class="logo_footer">
        <a href="{{ url('<front>') }}">
            <img data-original="{{ logo }}" class="lazy" alt="m2group" height="39" width="146">
        </a>
    </div>
    <div class="menu_footer">
        {{ drupal_menu('main') }}
    </div>
    <div class="copyright">{{ drupal_entity('block', 'copyright') }}</div>
</div>