<div id="footer">
    <div class="logo_footer">
        <a href="{{ url('<front>') }}">
            <img data-original="{{ logo }}" class="lazy" alt="m2group" height="39" width="146">
        </a>
    </div>
    <div class="menu_footer">
        {{ drupal_menu('main') }}
    </div>
    <div class="copyright">{{ drupal_entity('block', 'copyright') }}</div>
</div>

<div id="backToTop">
    <img src="themes/custom/m2group/images/back-to-top.svg" onclick="topFunction()" alt="back-to-top.svg">
</div>

<script>
    //Get the button
    var backToTop = document.getElementById("backToTop");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            backToTop.style.display = "flex";
        } else {
            backToTop.style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>