<div class="main_header">
    <div class="container">
        <div class="logo">
            <a href="{{ url('<front>') }}">
                <img data-original="{{ logo }}" class="lazy" alt="m2group" height="40" width="220">
            </a>
        </div>
    </div>
</div>