<div class="main_header">
    <div class="container">
        <div class="logo">
            <a href="{{ url('<front>') }}">
                <img data-original="{{ logo }}" class="lazy" alt="m2group" height="47" width="178">
            </a>
        </div>
        <div class="block_header">
            {{ drupal_entity('block', 'header') }}
        </div>
    </div>
</div>