{{ attach_library('m2group/search') }}

{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
    'container',
    'search-page'
  ]
%}
<div class="search-page-wrapper">
  <div{{ attributes.addClass(classes) }}>
    <div class="box-search-wrapper">
      <span>{{ 'Tìm kiếm theo tên ga'|t }}</span>
      <div class="box-search">
        <div class="input-wrapper">
          <input type="text" id="_input">
          <div class="img-wrapper">
            <img src="/jobs/1_m2group/m2group/web/themes/custom/m2group/images/search.svg">
          </div>
        </div>
        <div class="filter-wrapper">
          <img src="/jobs/1_m2group/m2group/web/themes/custom/m2group/images/filter.svg">
        </div>
      </div>
    </div>

    {{ exposed }}
  </div>
</div>
