#map {
    width: 100%;
    height: 70vh;
    height: calc(100vh - 109px);
}

.gm-style .gm-style-iw-c[role="dialog"] {
    height: 26px;
    margin-top: 110px;
    padding: 0;
    border-radius: 5px;
}

.gm-style .gm-style-iw-c[role="dialog"]>div {
    overflow: unset!important;
    min-width: 88px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #AA1C21;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    line-height: 20px;
}

.gm-style .gm-style-iw-t::after {
    opacity: 0;
}

.gm-style .gm-style-iw-c[role="dialog"] button {
    display: none !important;
}

.apartment {
    display: none;
}

.map-block {
    position: relative;
}

.map-block .addr-input {
    position: absolute;
    top: 20px;
    z-index: 10;
    width: 320px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
}

.map-block .addr-input input {
    width: 100%;
    border: unset;
    outline: 0;
    padding: 0 15px;
    height: 40px;
    border-radius: 4px;
    box-shadow: 2px 2px 5px #d0cfcf;
}

#show-info {
    position: fixed;
    display: none;
    padding: 15px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(208 207 207) 2px 2px 5px;
}

#show-info span.close-btn {
    position: absolute;
    font-size: 15px;
    right: 5px;
    top: 0;
    cursor: pointer;
}

#show-info a.view-detail {
    font-weight: bold;
    text-decoration: underline;
}