[data-drupal-selector="edit-station"] legend,
[data-drupal-selector="edit-district"] legend {
    display: none;
}

[data-drupal-selector="edit-station"] ul,
[data-drupal-selector="edit-district"] ul {
    padding: 0;
    margin: 0;
}

[data-drupal-selector="edit-station"] ul li,
[data-drupal-selector="edit-district"] ul li {
    list-style-type: none;
}

#edit-station>div>ul>li>div {
    display: none;
}

.station-title {
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: center;
}

#edit-station>div>ul>li {
    margin-bottom: 60px;
}

#edit-station>div>ul>li>ul>li>div,
#edit-district>div>ul>li>div {
    height: 70px;
    background-color: #213E60;
    color: #ffffff;
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
    border-radius: 10px;
    position: relative;
}

#edit-station>div>ul>li>ul>li>div::before,
#edit-district>div>ul>li>div::before {
    content: "";
    position: absolute;
    right: 20px;
    height: 14px;
    width: 26px;
    background: url(../images/up_arrow_white.svg) no-repeat;
    transition: 0.3s;
    transform: rotate(180deg);
}

#edit-station>div>ul>li>ul>li.open>div::before,
#edit-district>div>ul>li.open>div::before {
    transform: rotate(0);
}

#edit-station>div>ul>li>ul>li>ul,
#edit-district>div>ul>li>ul {
    padding: 30px 8px 0 8px;
    display: none;
    overflow: hidden;
}

#edit-station>div>ul>li>ul>li,
#edit-district>div>ul>li {
    transition: 0.3s;
}

#edit-station>div>ul>li>ul>li:not(.open),
#edit-district>div>ul>li:not(.open) {
    margin-bottom: 30px;
}

#edit-station input[type="checkbox"],
#edit-district input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    content: '';
    line-height: 15px;
    text-align: center;
    font-size: 25px;
    margin-right: 20px;
    z-index: 1;
    width: 30px;
    height: 30px;
    position: relative;
}

#edit-station .check,
#edit-district .check {
    z-index: 999;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 13px;
    line-height: 20px;
    width: 15px;
    height: 10px;
    background-image: url('../images/checkbox_w.svg');
    background-size: 15px 10px;
    background-repeat: no-repeat;
    background-position: center;
}

#edit-station input[type="checkbox"]::after,
#edit-district input[type="checkbox"]::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    background: transparent;
    width: 30px;
    height: 30px;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
}

#edit-station .check::after,
#edit-district .check::after {
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}

#edit-station>div>ul>li>ul>li>ul input::after,
#edit-district>div>ul>li>ul input::after {
    border-color: #000000 !important;
}

#edit-station>div>ul>li>ul>li>ul>li>div,
#edit-district>div>ul>li>ul>li>div {
    height: 30px;
    display: flex;
    align-items: center;
}

#edit-station>div>ul>li>ul>li>ul>li>div .check,
#edit-district>div>ul>li>ul>li>div .check {
    background-image: url('../images/checkbox_b.svg');
}

#edit-station>div>ul>li>ul>li>ul label,
#edit-district>div>ul>li>ul>li>ul label {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
}

.search-page [data-drupal-selector="edit-actions"] {
    display: flex;
    justify-content: center;
}

.search-page [data-drupal-selector="edit-actions"] input {
    font-size: 18px;
    color: #FFFFFF;
    background-color: #213E60;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 10px 20px;
    margin-bottom: 40px;
}

.search-page-wrapper {
    padding-top: 96px;
    background-image: url('../images/dot_bg.svg');
    background-repeat: no-repeat;
    padding-bottom: 50px;
}

.search-page-wrapper .box-search-wrapper {
    width: 638px;
    max-width: calc(100% * 0.9);
    margin: 0 auto;
    margin-bottom: 50px;
}

.search-page-wrapper .box-search-wrapper>span {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    display: block;
    margin-bottom: 14px;
}

.search-page-wrapper .box-search-wrapper .box-search {
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgb(0 0 0 / 10%);
    border-radius: 3px;
    position: relative;
    height: 50px;
}

.search-page-wrapper .box-search-wrapper .box-search .filter-wrapper {
    position: absolute;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 40px;
    top: 0;
    right: -85px;
    cursor: pointer;
}

.search-page-wrapper .box-search-wrapper .box-search .input-wrapper ._select .select2-selection {
    height: 50px;
    border: 0;
}

.select2-selection__rendered {
    height: 50px;
    display: flex !important;
    align-items: center;
}

ul.select2-results__options>li:nth-child(1) {
    display: none;
}

.select2-selection__arrow {
    display: none;
}

.search-page-wrapper .box-search-wrapper .box-search .input-wrapper {
    display: flex;
}

.search-page-wrapper .box-search-wrapper .box-search .input-wrapper ._select {
    height: 50px;
    border: 0;
    width: calc(100% - 180px);
}

.search-page-wrapper .box-search-wrapper .box-search .input-wrapper ._select>span {
    width: 100% !important;
}

input.select2-search__field {
    border-radius: 3px;
    outline: 0;
}

.search-page-wrapper .box-search-wrapper .box-search .input-wrapper .img-wrapper {
    width: 180px;
    border: none;
    background-color: var(--red-color);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 51px;
}

.search-page-wrapper .box-search-wrapper .box-search .input-wrapper .img-wrapper span.text {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    margin-right: 15px;
}

.search-page-wrapper>div>form {
    padding: 60px 20px 0 20px;
    background-color: #ffffff;
    box-shadow: 0px 10px 50px rgb(0 0 0 / 15%);
    border-radius: 10px;
}

.search-page-wrapper>div>form>.form-item-room-type {
    display: none;
}

.search-page-wrapper>div.district-search>form {
    padding: 20px 20px 0 20px;
}

div.flat-type .item label {
    color: #000000;
}

div.flat-type .item::before {
    border-color: #000000 !important;
}

.advance-filter.close .filter-box select {
    border-color: #cccccc !important;
}

.box-search .select2-container input {
    height: 50px;
}

#edit-station>div>ul>li>ul>li>ul>li.col-6,
#edit-district>div>ul>li>ul>li.col-6 {
    margin-bottom: 30px;
}

@media (min-width: 991px) {
    .search-page-wrapper::after {
        content: "";
        position: absolute;
        height: 260px;
        width: 100%;
        bottom: -54px;
        background-color: #F4F5F6;
        z-index: -1;
    }
    .search-page-wrapper::before {
        content: "";
        position: absolute;
        height: 260px;
        width: 100%;
        bottom: 206px;
        background-image: url('../images/bg_dots_bottom.svg');
        background-repeat: no-repeat;
        background-position: calc(100% - 18px);
        z-index: -1;
    }
}

@media (max-width: 480px) {
    .search-page-wrapper .box-search-wrapper .box-search .filter-wrapper {
        display: none;
    }
    .station-title {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 32px;
        text-align: left;
    }
    #edit-station>div>ul>li>ul>li>div,
    #edit-district>div>ul>li>ul>li>div {
        font-size: 16px;
        line-height: 20px;
    }
    .search-page-wrapper>div>form {
        padding: 0 16px 0 16px;
        box-shadow: unset;
    }
    .search-page-wrapper>.search-page {
        padding: 0;
    }
    #edit-station>div>ul>li>ul>li>ul label,
    #edit-district>div>ul>li>ul>li>ul label {
        font-size: 12px;
    }
    .search-page-wrapper {
        background-image: unset;
        padding-bottom: 0;
    }
    .search-page [data-drupal-selector="edit-actions"] input {
        margin-bottom: 60px;
    }
    #edit-station>div>ul>li,
    #edit-district>div>ul>li {
        margin-bottom: 30px;
    }
}