.select2-container--classic .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: transparent;
    color: #3f464e;
}

.select2-container--classic .select2-results>.select2-results__options>li:nth-child(1) {
    display: none;
}

.select2-container--classic .select2-search--dropdown .select2-search__field {
    padding-left: 15px;
    padding-right: 8px;
    box-shadow: unset;
}

.select2-results__group {
    /* font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 2px;
    color: var(--red-color); */
    color: var(--red-color);
    padding: 0 !important;
    font-size: 16px;
    font-weight: 700;
}

.select2-results__option--selectable {
    transition: 0.2s;
    padding: 0 !important;
}

.select2-results__option--selectable>span {
    display: flex;
    justify-content: space-between;
}

.s2-type {
    font-weight: bold;
    opacity: 0.3;
}


/* width */

.select2-container--classic .select2-results>.select2-results__options::-webkit-scrollbar {
    width: 8px;
}


/* Track */

.select2-container--classic .select2-results>.select2-results__options::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

.select2-container--classic .select2-results>.select2-results__options::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

.select2-container--classic .select2-results>.select2-results__options::-webkit-scrollbar-thumb:hover {
    background: #555;
}

div.flat-type {
    display: flex;
    margin-bottom: 20px;
    margin-top: 10px;
}

div.flat-type .item {
    font-size: 20px;
    color: #ffffff;
    position: relative;
    cursor: pointer;
    height: 38px;
}

div.flat-type .item.for-rent {
    margin-right: 20px;
}

div.flat-type .item input {
    display: none;
}

div.flat-type .item::before {
    content: "";
    position: absolute;
    width: 0;
    border-bottom: 4px solid #ffffff;
    right: 0;
    bottom: 0;
    transition: 0.5s;
}

div.flat-type .item.checked {
    color: #ffffff;
}

div.flat-type .item:hover::before {
    width: 100%;
}

div.flat-type .item label {
    position: relative;
    cursor: pointer;
    transition: 0.2s;
}

div.flat-type .item.checked::before {
    width: 100%;
}

div.flat-type .item.for-sale::before {
    left: 0;
    right: unset;
}

.advance-filter {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.advance-filter .filter-box {
    transition: 0.3s;
    height: 0;
    overflow: hidden;
}

.advance-filter.close .filter-box {
    height: 40px;
}

.advance-filter.close .filter-box select {
    border-radius: 4px;
    border-color: #ffffff;
    background-color: #ffffff;
    padding: 5px 20px;
    padding-right: 30px;
    width: 100%;
    height: 40px;
    color: #666666;
    font-size: 16px;
    font-weight: 400;
    position: relative;
}


/* .advance-filter.open .filter-box {
    height: 40px;
} */

.advance-filter .filter-btn {
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    padding: 0 8px;
    background: rgba(4, 33, 63, 0.3);
    border-radius: 4px;
    height: 40px;
    display: flex;
    align-items: center;
    position: relative;
    width: 158px;
    cursor: pointer;
}

.advance-filter .filter-btn>div {
    transition: 0.3s;
    position: absolute;
    text-align: center;
    width: calc(100% - 16px);
}

.advance-filter .open-state,
.advance-filter.close .close-state {
    opacity: 0;
}

.advance-filter .close-state,
.advance-filter.close .open-state {
    opacity: 1;
}

.select2-container--classic.select2-container--open .select2-dropdown {
    padding-top: 0;
    border-radius: 4px;
    background: #ffffff;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
    border-color: #c8ced3;
    overflow: hidden;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.select2-container--classic .select2-results__option--group:not(:nth-child(2)) .select2-results__group {
    margin-top: 25px;
}

.select2-container {
    top: 0 !important;
}

.select2-search--dropdown {
    background-color: #f2f2f7;
    padding: 0;
}

.select2-search--dropdown>input {
    border: 0 !important;
    border-radius: 4px;
}

.select2-results__option {
    padding: 6px 20px;
    user-select: none;
    -webkit-user-select: none;
}

.select2-container--classic .select2-results>.select2-results__options {
    max-height: 198px;
    overflow-y: auto;
    padding: 25px 15px;
    background: #ffffff;
    border-top: 1px solid #c8ced3;
}